/* file css */

.main-header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.main-section {
    width: 32%;
}

footer {
    text-align: center;
}

form {
    background-color: skyblue;
    padding: 16px;
    border-radius: 8px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-jk {
    justify-content: left;
}

.form-button-container {
    margin-top: 30px;
}

.form-button-container-hasil {
    margin-top: 8px;
}

input[type=number] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    border: 0;
    padding: 8px;
    border-radius: 4px;
}

.submit-hasil {
    background-color: greenyellow;
    color: black;
    margin-left: 130px;
}

.bg-green-yellow {
    background-color: greenyellow;
}

.bg-alice-blue {
    background-color: aliceblue;
}

.color-black {
    color: black;
}
